@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700&display=swap");

#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
}

.app .card {
  /* padding: 1rem; */
  font-family: "League Spartan", sans-serif;
  background-color: whitesmoke;
  width: 40%;
  height: 30%;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.app .card .heading {
  padding: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
  flex-wrap: nowrap;
  overflow-y: scroll;
}

.app .card .button {
  font-family: "League Spartan", sans-serif;
  border-radius: 20px;
  outline: none;
  border: 0.5px solid royalblue;
  padding: 10px 20px;
  background: #fff;
  margin-bottom: 2rem;
  position: relative;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.app .card .button span {
  color: #164ca7;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.7px;
}

.app .card .button:hover {
  background-color: #164ca7;
  animation: rotate 0.7s ease-in-out both;
}
.app .card .button:hover span {
  color: #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(5deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(5deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@media only screen and (max-width: 700px) {
  .app .card {
    width: 80%;
    height: 30%;
    font-size: 80%;
  }
}
